<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pedido Enviado</title>

<style>
body {
    font-family: Arial;
    text-align: center;
    background: #0f172a;
    color: white;
    padding: 30px;
}

a {
    display: block;
    margin-top: 20px;
    padding: 15px;
    background: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
</style>
</head>

<body>

<h2>✅ PEDIDO ENVIADO</h2>

<p>PARA CONFIRMAR O PEDIDO ENTRE EM CONTATO VIA WHATSAPP</p>

<a href="https://wa.me/5562998286167?text=Enviei%20meu%20pedido,%20gostaria%20de%20fazer%20o%20pagamento" target="_blank">
FALAR NO WHATSAPP
</a>

</body>
</html>